body {
  font-size: 10px;
  font-family: sans-serif;
}
a {
  text-decoration: none;
  color: #000000;
  display: inline-block;
}
.button-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10rem;
  height: 2.2rem;
  background-color: #ffffff;
  font-size: 1rem;
  border: #000000 1px solid;
  border-radius: 5rem;
}
.button-contact-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 2.2rem;
  height: 2.2rem;
  background-color: #ffffff;
  font-size: 1rem;
  border: #000000 1px solid;
  border-radius: 5rem;
}
.header {
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-wrapper {
  margin: auto;
  width: 85%;
  height: 90vh;
  background-color: #ffffff;
}
.header-nav {
  width: 100%;
  height: 2rem;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 3rem;
}
.header-content {
  width: 100%;
  height: 70vh;
  background-color: #e81123;
  background-image: url(../img/2__PAuc3Xxs.jpg);
  background-size: cover;
}
section {
  width: 100%;
  height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.image {
  width: 50%;
  height: 75vh;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.image-slider {
  width: 70%;
  height: 66%;
}
.text {
  width: 50%;
  height: 75vh;
  background-color: #ffffff;
}
.map {
  width: 50%;
  height: 75vh;
  background-color: #e81123;
}
footer {
  background-color: #000000;
  height: 10rem;
}
