html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-size: 10px;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
strong {
  font-weight: bold;
}
.title {
  font-family: 'Roboto', sans-serif;
  font-size: 2.7rem;
  font-weight: 300;
  letter-spacing: 2px;
}
.title-contacts {
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  font-weight: 700;
}
.content-title {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  font-weight: 400;
}
.content-font {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 300;
}
.content-font-info {
  font-size: 1rem;
}
.content-font-contacts {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  line-height: 1.3;
  color: #ffffff;
}
.link-font {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  line-height: 1;
}
.btnHead {
  width: 15rem;
  height: 3rem;
  border: 1px solid #ffffff;
  border-radius: 100rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  color: #ffffff;
  background-color: transparent;
}
.btnHead:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: #131418;
}
.btnHead:focus {
  outline: none;
}
.contact-btn {
  scroll-behavior: smooth;
  width: 10rem;
  height: 3rem;
  border: 1px solid #131418;
  border-radius: 100rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.contact-btn:hover {
  background-color: #131418;
  color: #ffffff;
}
.link-item {
  margin-left: 3rem;
  width: 3rem;
  height: 3rem;
  border: 1px solid #131418;
  border-radius: 100rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  color: #131418;
  background-color: transparent;
}
.link-item:hover {
  width: 6rem;
  background-color: #131418;
  color: #ffffff;
}
.btn-curse {
  width: 10rem;
  height: 3rem;
  border: 1px solid #131418;
  border-radius: 100rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  color: #131418;
  background-color: transparent;
}
.btn-curse:hover {
  cursor: pointer;
  width: 15rem;
  background-color: #131418;
  color: #ffffff;
}
.btn-curse:focus {
  outline: none;
}
.btn-close {
  width: 10rem;
  height: 3rem;
  border: 1px solid #131418;
  border-radius: 100rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  color: #131418;
  background-color: transparent;
}
.btn-close:hover {
  border: none;
  cursor: pointer;
  width: 15rem;
  background-color: #e81123;
  color: #ffffff;
}
.btn-close:focus {
  outline: none;
}
.container-fluid {
  padding: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header {
  width: 85%;
  height: 90%;
}
.header-nav {
  width: 100%;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-content {
  margin-top: 3rem;
  width: 100%;
  height: 90%;
}
.header-content-page {
  width: 100%;
  height: 85%;
  background-size: cover no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-content-buttom {
  width: 100%;
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content-header {
  margin: auto;
  width: 80%;
}
.content-header-title {
  width: 100%;
  height: 20vh;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content-header-btn {
  width: 100%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.logo {
  width: 3rem;
  height: 3rem;
  border: 1px solid #131418;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100rem;
}
#aboutAzart,
#aboutCurse {
  width: 100%;
  height: 65vh;
}
.box {
  margin: auto;
  width: 85%;
  height: 60vh;
}
.slider {
  width: 100%;
  height: 60vh;
}
.slider-box {
  width: 80%;
  height: 100%;
}
.azart-slide {
  width: 100%;
  height: 100%;
  background-color: #131418;
}
.fotorama {
  width: 100%;
  height: 100%;
}
.text {
  width: 100%;
  height: 50vh;
}
.text-header {
  width: 100%;
  height: 10vh;
}
.text-body {
  width: 100%;
  height: 35vh;
}
.text-footer {
  width: 100%;
  height: 5vh;
}
.text-footer-link {
  width: 50%;
  height: 5vh;
  color: #131418;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.text-footer-link:hover {
  color: #131418;
}
#advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.contact {
  width: 100%;
  height: 50vh;
}
.contact-header {
  width: 100%;
  height: 10vh;
}
.contact-content {
  width: 100%;
  height: 40vh;
}
.contact-page {
  width: 100%;
  height: 100%;
}
.contact-page-item {
  width: 100%;
  height: 7vh;
  background-color: #1e88e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact-info {
  width: 100%;
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact-info-icon {
  width: 10%;
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact-info-text {
  width: 90%;
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#contacts {
  background-color: #131418;
}
.social {
  margin-top: 5rem;
  width: 50%;
  height: 10rem;
  color: #ffffff;
}
.social-links {
  margin-top: 2rem;
}
#map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 350px;
}
.close:focus {
  outline: none;
}
.modal-dialog {
  margin-top: 10rem;
  border: none;
}
.modal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrap-form {
  width: 90%;
}
.form-group {
  margin-top: 2rem;
  width: 100%;
}
.wrap-input {
  width: 100%;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
form {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
input {
  width: 85%;
  height: 2rem;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
}
input:focus {
  border-color: #1e88e5;
  outline: none;
  width: 100%;
}
.wrap-btn {
  margin: auto;
  width: 85%;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.btn-submit {
  width: 35%;
  height: 3rem;
  border: none;
  border-radius: 100rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #131418;
}
.btn-submit:hover {
  width: 100%;
  cursor: pointer;
  background-color: #131418;
  color: #131418;
}
.btn-submit:focus {
  outline: none;
}
