body {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
a {
  text-decoration: none;
  color: #212121;
  display: inline-block;
}
section {
  width: 100%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#myBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15rem;
  background-color: transparent;
  height: 2.5rem;
  font-size: 1rem;
  border: #212121 1px solid;
  border-radius: 5rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
#myBtn:hover {
  background-color: #212121;
  color: #ffffff;
  cursor: pointer;
}
#myBtn:focus {
  outline: none;
}
.button-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10rem;
  height: 2.2rem;
  background-color: #ffffff;
  font-size: 1rem;
  border: #212121 1px solid;
  border-radius: 5rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.button-contact:hover {
  background-color: #212121;
  color: #ffffff;
}
.button-contact-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 2.2rem;
  height: 2.2rem;
  background-color: #ffffff;
  font-size: 1rem;
  border: #212121 1px solid;
  border-radius: 5rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
#logo {
  font-family: 'Lora', serif;
  font-size: 1.2rem;
  color: #212121;
}
.header {
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-wrapper {
  margin: auto;
  width: 85%;
  height: 90vh;
  background-color: #ffffff;
}
.header-nav {
  width: 100%;
  height: 2rem;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 3rem;
}
.header-content {
  width: 100%;
  height: 70vh;
  background-image: url(../img/header-bg-min.jpg);
  background-size: cover ;
}
.header-content-tittle {
  margin-left: 5rem;
  padding-top: 5rem;
  width: 70%;
  height: 3rem;
}
.header-content-text {
  line-height: 1.5;
  font-weight: 300;
  margin-left: 5rem;
  width: 50%;
  height: 5rem;
}
.header-content-button {
  padding-top: 5rem;
  margin-left: 5rem;
  width: 100%;
}
.header-bottom {
  width: 100%;
  height: 18vh;
}
.about {
  width: 85%;
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.slider,
.map {
  width: 40%;
  height: 100%;
  background-color: #212121;
}
.fotorama {
  width: 100%;
  height: 100%;
}
.slide {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e81123;
}
.text {
  width: 50%;
  height: 100%;
}
.text-tittle {
  width: 100%;
  height: 15%;
  background-color: #ffffff;
}
.text-content {
  width: 100%;
  height: 70%;
  background-color: #ffffff;
}
.text-button {
  width: 100%;
  height: 15%;
}
.link {
  width: 20rem;
  height: 3rem;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.link-text {
  font-size: 1rem;
  color: #333333;
}
.link-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 5rem;
  background-color: transparent;
  height: 2rem;
  font-size: 1rem;
  border: #212121 1px solid;
  border-radius: 5rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-size: 1.2rem;
}
.link-btn:hover {
  background-color: #212121;
  color: #ffffff;
}
.tittle {
  font-family: 'Lora', serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: #212121;
}
.tittle-head {
  font-family: 'Lora', serif;
  font-weight: 400;
  font-size: 2.2rem;
  color: #212121;
}
.header-text {
  font-size: 1.5rem;
}
.footer {
  margin: auto;
  width: 85%;
  height: 5rem;
  border-top: 1px solid #444444;
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.name,
.phone,
.email {
  margin-top: 2rem;
}
.label-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
}
input {
  width: 25rem;
  height: 2rem;
  border: none;
  border-bottom: 1px solid #212121;
  font-size: 1.2rem;
}
input:focus {
  outline: none;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  background-color: #ffffff;
  margin: auto;
  padding: 20px;
  width: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form {
  width: 25rem;
  height: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form-group {
  width: 25rem;
  height: 15rem;
}
