body {
    margin: 0;
    padding: 0;
    font-size: 10px;
}
a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}


// Colors
@black: #131418;
@grey: #9E9E9E;
@light: #ffffff;
@active: #1E88E5;

// Buttons
.btnHead {
    width: 15rem;
    height: 3rem;
    border: 1px solid @light;
    border-radius: 100rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    color: @light;
    background-color: transparent;
    &:hover {
        cursor: pointer;
        background-color: @light;
        color: @black;
    }
    &:focus {
        outline: none;
    }
}

.contact-btn {
    width: 10rem;
    height: 3rem;
    border: 1px solid @black;
    border-radius: 100rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    &:hover {
        background-color: @black;
        color: @light;
    }
}
// Header Container
.container-fluid {
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
// Header
.header {
    width: 85%;
    height: 90%;
    &-nav {
        width: 100%;
        height: 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-content {
        margin-top: 3rem;
        width: 100%;
        height: 90%;
        &-page {
            width: 100%;
            height: 85%;
            background-color: @grey;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &-button {
            width: 100%;
            height: 15%;
        }
    }
}
.logo {
    width: 3rem;
    height: 3rem;
    border: 1px solid @black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100rem;
}

// First Section
#aboutAzart,
#aboutCurse {
    width: 100%;
    height: 65vh;
}
.box {
    margin: auto;
    width: 85%;
    height: 60vh;
}
.slider{
    width: 100%;
    height: 60vh;
    &-box {
        width: 80%;
        height: 100%;
    } 
}
.azart-slide {
    width: 100%;
    height: 100%;
    background-color: @black;
}
.fotorama {
    width: 100%;
    height: 100%;
}
.text {
    width: 100%;
    height: 50vh;
    background-color: @black;
}

// Modal
.close:focus {
    outline: none;
}
.modal-dialog {
    margin-top: 10rem;
    border: none;
}

.modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
}
// Form
.wrap-form {
    width: 90%;
}
.form-group {
    margin-top: 2rem;
    width: 100%;
}
.wrap-input {
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
}

input {
    width: 85%;
    height: 2rem;
    border: none;
    border-bottom: 1px solid @grey;
    transition: all 0.5s;
    font-size: 1rem;
    &:focus {
        border-color: @active;
        outline: none;
        width: 100%;
    }
}
.wrap-btn {
    margin: auto;
    width: 85%;
    height: 4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.btn-submit {
    width: 35%;
    height: 3rem;
    border: none;
    border-radius: 100rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    background-color: @black;
    &:hover {
        width: 100%;
        cursor: pointer;
        background-color: @black;
        color: @black;
    }
    &:focus {
        outline: none;
    }
}