html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-size: 10px;
}
a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}


// Colors
@black: #131418;
@grey: #9E9E9E;
@light: #ffffff;
@active: #1E88E5;
@close: #E81123;

// Fonts 
.title {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    font-weight: 700;
    &-contacts {
        font-family: 'Playfair Display', serif;
        font-size: 2.5rem;
        font-weight: 700;
        
}
.content-font {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    line-height: 1.3;
    &-info {
        font-size: 1rem;
    }
    &-contacts {
        font-family: 'Roboto', sans-serif;
        font-size: 1.3rem;
        line-height: 1.3;
        color: @light;
    }
}
.link-font {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    line-height: 1;
}

// Buttons
.btnHead {
    width: 15rem;
    height: 3rem;
    border: 1px solid @light;
    border-radius: 100rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;
    color: @light;
    background-color: transparent;
    &:hover {
        cursor: pointer;
        background-color: @light;
        color: @black;
    }
    &:focus {
        outline: none;
    }
}
.contact-btn {
    scroll-behavior: smooth;
    width: 10rem;
    height: 3rem;
    border: 1px solid @black;
    border-radius: 100rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:  all 0.4s;
    &:hover {
        background-color: @black;
        color: @light;
    }
}
.link-item {
    margin-left: 3rem;
    width: 3rem;
    height: 3rem;
    border: 1px solid @black;
    border-radius: 100rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;
    color: @black;
    background-color: transparent;
    &:hover {
        width: 6rem;
        background-color: @black;
        color: @light;
    }
}
.btn-curse {
    width: 10rem;
    height: 3rem;
    border: 1px solid @black;
    border-radius: 100rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;
    color: @black;
    background-color: transparent;
    &:hover {
        cursor: pointer;
        width: 15rem;
        background-color: @black;
        color: @light;
    }
    &:focus {
        outline: none;
    }
}
.btn-close {
    width: 10rem;
    height: 3rem;
    border: 1px solid @black;
    border-radius: 100rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;
    color: @black;
    background-color: transparent;
    &:hover {
        cursor: pointer;
        width: 15rem;
        background-color: @close;
        color: @light;
    }
    &::focus {
        outline: none;
    }
}
// Header Container
.container-fluid {
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
// Header
.header {
    width: 85%;
    height: 90%;
    &-nav {
        width: 100%;
        height: 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-content {
        margin-top: 3rem;
        width: 100%;
        height: 90%;
        &-page {
            width: 100%;
            height: 85%;
            background-image: url('../img/_lltwLA6kwc.jpg');
            background-size: cover no-repeat;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &-button {
            width: 100%;
            height: 15%;
        }
    }
}
.logo {
    width: 3rem;
    height: 3rem;
    border: 1px solid @black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100rem;
}

// First Section
#aboutAzart,
#aboutCurse {
    width: 100%;
    height: 65vh;
}
.box {
    margin: auto;
    width: 85%;
    height: 60vh;
}
.slider{
    width: 100%;
    height: 60vh;
    &-box {
        width: 80%;
        height: 100%;
    } 
}
.azart-slide {
    width: 100%;
    height: 100%;
    background-color: @black;
}
.fotorama {
    width: 100%;
    height: 100%;
}
.text {
    width: 100%;
    height: 50vh;
    &-header {
        width: 100%;
        height: 10vh;
    }
    &-body {
        width: 100%;
        height: 35vh;
    }
    &-footer {
        width: 100%;
        height: 5vh;
        &-link {
            width: 50%;
            height: 5vh;
            color: @black;
            display: flex;
            align-items: center;
            &:hover {
                color: @black;
            }
        }
    }
}
#advantages {
    display: flex;
    justify-content: flex-end;
}
.contact {
    width: 100%;
    height: 50vh;
    &-header {
        width: 100%;
        height: 10vh;
    }
    &-content {
        width: 100%;
        height: 40vh;
    }
}
.contact-page {
    width: 100%;
    height: 100%;
    &-item {
        width: 100%;
        height: 7vh;
        background-color: @active;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.contact-info {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-icon {
        width: 10%;
        height: 5vh;
        display: flex;
        justify-content: flex-start; 
        align-items: center;
    }
    &-text {
        width: 90%;
        height: 5vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}
#contacts {
    background-color: @black;
}
// Modal
.close:focus {
    outline: none;
}
.modal-dialog {
    margin-top: 10rem;
    border: none;
}
.modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Form
.wrap-form {
    width: 90%;
}
.form-group {
    margin-top: 2rem;
    width: 100%;
}
.wrap-input {
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
}
form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
input {
    width: 85%;
    height: 2rem;
    border: none;
    border-bottom: 1px solid @grey;
    transition: all 0.5s;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    &:focus {
        border-color: @active;
        outline: none;
        width: 100%;
    }
}
.wrap-btn {
    margin: auto;
    width: 85%;
    height: 4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.btn-submit {
    width: 35%;
    height: 3rem;
    border: none;
    border-radius: 100rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    background-color: @black;
    &:hover {
        width: 100%;
        cursor: pointer;
        background-color: @black;
        color: @black;
    }
    &:focus {
        outline: none;
    }
}
